<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="pull-left">
          <div class="navbar-header">
              <a routerLink="/" class="navbar-brand"><b>HS</b>Intra</a>
            </div>
      </div>
      <!-- /.navbar-collapse -->
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu pull-right">
        <ul class="nav navbar-nav">

          <li *ngIf="admin" routerLinkActive="active">
            <!-- Menu toggle button -->
            <a routerLink="/eventos/cadastro">
              <i class="fa fa-users"></i>
              <span class="label label-success">+</span>
              <span class="hidden-xs">Adicionar Evento</span>
            </a>
          </li>
          <li *ngIf="user" routerLinkActive="active">
            <!-- Menu toggle button -->
            <a routerLink="/ingressos">
              <i class="fa fa-ticket"></i>
              <span class="label label-warning">{{ tickets !== 0 ? tickets : '' }}</span>
              <span class="hidden-xs">Meus Ingressos</span>
            </a>
          </li>



          <!-- User Account Menu -->
          <li class="user user-menu" *ngIf="user">
            <a href="#" (click)="logout($event)">
              <img src="assets/img/{{user?.sexo}}.png" class="user-image" alt="User Image">
              {{user?.nome?.split(' ')[0].toUpperCase() }}
            </a>
          </li>
          <li class="user user-menu" *ngIf="!user">
            <a routerLink="/usuarios/cadastro">
              Login
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>