<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header pull-left">
        <a routerLink="/" class="navbar-brand"><b>HS</b>Intra</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="pull-left">
        <ul class="nav navbar-nav">
          <!-- <li routerLinkActive="active"><a routerLink="/home">Home </a></li> -->
          <li class="dropdown" routerLinkActive="active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Eventos <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a routerLink="/eventos/cadastro">Cadastrar Evento</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu pull-right">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li *ngIf="user" routerLinkActive="active">
            <!-- Menu toggle button -->
            <a routerLink="/ingressos">
              <i class="fa fa-ticket"></i>
              <span class="label label-success">{{ tickets !== 0 ? tickets : '' }}</span>
              <span class="hidden-xs">Meus Ingressos</span>
            </a>
          </li>
          <!-- /.messages-menu -->


          <!-- User Account Menu -->
          <li class="user user-menu" *ngIf="user">
            <a href="#" (click)="logout($event)">
              <img src="assets/img/{{user?.sexo}}.png" class="user-image" alt="User Image">
              {{user?.nome?.split(' ')[0].toUpperCase() }}
            </a>
          </li>
          <li class="user user-menu" *ngIf="!user">
            <a routerLink="/usuarios/cadastro">
              Login
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>